.product-image {
    max-height: 400px;
    height: auto;
    width: auto;
    max-width: 400px;
    cursor: pointer;
}
.product:hover {
    transform: scale(1.3);
    overflow: hidden;
    background-color: white;
    border: 1px solid black;
}
.product-title {
    font-weight: bold;
    cursor: pointer;
}
.product {
    width: 30%;
    
    background-color: inherit;
    margin: 4px;
    
}
.product-col-1 {
	width: 25%;
}
.product-col-2 {
    width: 75%;
    
}
