.product-image {
	max-height: 400px;
	height: auto;
	width: auto;
	max-width: 400px;
	cursor: pointer;
}
.product:hover {
	transform: scale(1.1);
}
.product-title {
	font-weight: bold;
	cursor: pointer;
}
.product {
    width: 30%;
    max-width: 600px;

	background-color: inherit;
	margin: 4px;
}
.product-col-1 {
	width: 25%;
}
.product-col-2 {
	width: 75%;
}
